<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teacher/base::layout(~{::section})">
<head>
	
</head>
<body>

<section>
		<h2>Creating Course</h2>
		<hr>
		<div class="course-section">
		
		<div th:if=${session.message} th:classappend="${session.message.type}" class="alert " role="alert">
		
	  		<h3 th:text="${session.message.content}"></h3>
	  		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		
			<form class="needs-validation" action='createCourseSave' method="post">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Course Name</label>
      <input type="text" class="form-control " id="validationCustom01" placeholder="Course Name" name="courseName" required>
      
    </div>
     <div class="col-md-4 mb-3">
      <label for="validationCustom02">Course Code</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Course Code" name="courseCode" required>
    </div>
  </div>
 <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Instructor Name</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Instructor Name" name="courseInstructor" th:value="${user.fullname}" required>
      
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Instructor Email</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Instructor Email" name="courseInstructorEmail" th:value="${user.email}" required>
     
   
    </div>
  </div>
  <!-- <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom05">Access Code For Course</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Course Access Code" name="accessCode" required>
      
    </div> -->
  </div>
  </div>
  <button class="btn btn-primary" type="submit">Create Course</button>
</form>
			
		</div>
</section>

</body>
</html>