<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teacher/view_tab/base::layout(~{::section})">
<head>
	
</head>
<body>

<section>
	<div>
		<h1>Material</h1>
		<div class="col-md-12 text-right">
			<form class="needs-validation" enctype="multipart/form-data" action="uploadMaterial" method="post">
				<div class="mb-3">
					<input class="form-control" type="file"  name="materials" multiple required>
				</div>
				<button class="btn btn-primary" type="submit">Upload</button>
			</form>
		</div>
	</div>
</section>


</body>
</html>