<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="student/view_tab/base::layout(~{::section})">
<head>
	
</head>
<body>

<section>
		
		<div class="card">
		  <div class="card-body">
		    	<h1 th:text="'Instructions To Start the Quiz : '+${quizTitle}"></h1>
		  </div>
		</div>
		<div class="card">
		  <div class="card-body">
		    	<p class="card-text">This quiz consists of <span th:text="${quiz.numberOfQuestions}"></span> multiple-choice questions. To be successful with the weekly quizzes, it’s important to thoroughly read chapter 5 in the textbook.  
		    	It will also be extremely useful to study the key terms at the end of the chapter and review the Test Your Knowledge activity at the end of the chapter.</p>
		    	<h6>Keep the following in mind:</h6>
		  </div>
		</div>
		<div class="card">
		  <div class="card-body">
		    	<h6 th:text="'-> Number Of Questions : '+${quiz.numberOfQuestions}"></h6>
		    	<h6 th:text="'-> Maximum Marks : '+${#numbers.formatDecimal(quiz.maxMarks, 0, 0)}"></h6>
		    	<h6 th:text="'-> Marks Per Question : '+${#numbers.formatDecimal(quiz.maxMarks/quiz.numberOfQuestions, 0, 0)}"></h6>
		  </div>
		</div>
		<div class="card">
		  <div class="card-body">
		    	<!-- Button trigger modal -->
		    	 <div class="text-center">
						<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
						  
						</button> -->
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Start Attempt
						  </button>
		    	 </div>
		  </div>
		</div>
		<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Quiz Status!</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p> Do you Want to Start the quiz ? </p>
		</div>
		<div class="modal-footer">
			<a th:href="@{/student/view/course/{id}/tab/quizes/{quizId}/attempt(id = ${course.courseCode}, quizId = ${quiz.qid})}" class="btn btn-success" role="button">Start</a>
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
		</div>
	  </div>
	</div>
  </div>
</section>

</body>
</html>